<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <nav>
    <div class="navbar">
      <div class="logo">
        <div class="heart">❤︎</div>
        <div class="brand">SAC Hospitals</div>
      </div>
      <div>
        <a href="/">Home</a>
        <a href="/predict">Disease Predictor</a>
        <a href="/about">About Us</a>
      </div>
    </div>
  </nav>
  <body>
    <h1><a href="/predict">predictor click </a></h1>
  </body>
</html>
