<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <nav>
      <div class="navbar">
        <div class="logo">
          <div class="heart">❤</div>
          <div class="brand">SAC Hospitals</div>
        </div>
        <div class="nav-links">
          <a href="/" class="active">Home</a>
          <a href="/predict">Disease Predictor</a>
          <a href="/about">About Us</a>
        </div>
      </div>
    </nav>

    <div class="whole">
      <div class="p_box">
        <form action="/login" method="post">
          <label for="username">Enter gmail</label>
          <input type="text" name="username" id="username" required />
          <label for="password">Enter password</label>
          <input type="text" name="password" id="password" required />

          <br />
          <button class="btn btn-success" type="submit">Login</button>
        </form>
      </div>
    </div>
  </body>
</html>
